<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="text-align: center; font-family: Arial, sans-serif;">
        <h1>Fatto funny sui gatti</h1>
        <p style="font-size: 20px; margin: 20px;">{{ fact }}</p>
        <form action="/cat/change" method="post">
            <button type="submit" style="padding: 10px 20px; font-size: 16px;">Cambia fatto</button>
        </form>
        <a href="/" style="margin-top: 20px; display: block;">Torna alla Home</a>
    </body>
</html>